<footer class="footer">
  <div class="contenedorPrincipalFooter">
      <div class="listFooter">
        <div class="logoFooter">
          <img class="imgFooter" src="img/logo.png" alt="">
        </div>
      </div>

      <div class="listFooter">
        <h5>Siguenos En</h5>
        <div class="redesFooter">
          <ul>
            <li><i class="fab fa-facebook-square"></i>&#64;QuidPro</li>
            <li><i class="fab fa-instagram"></i>&#64;QuidPro</li>
            <li><i class="fab fa-youtube"></i>&#64;QuidPro</li>
          </ul>
        </div>
      </div>

      <div class="listFooter">
        <h5>Acerca de QuidPro</h5>
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <div class="listFooter">
        <h5>Soporte</h5>
        <ul>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Terminos y Condiciones</a></li>
        </ul>
      </div>

      <div class="listFooter">
        <h5>Información</h5>
        <ul>
          <li>Email: QuidPro&#64;quidpro.com</li>
          <li>Telefono: 1234567890</li>
        </ul>
      </div>
    </div>
  <span class="contenedorDerechosFooter"><b>Quidpro</b> © 2024 - Todos Los Derechos Reservados</span>
</footer>
